# Ignorar archivos de caché de Python
__pycache__/
*.pyc

# Ignorar el entorno virtual
venvia/

# Ignorar archivos de configuración local
.env

# Ignorar archivos estáticos generados
/static/

# Ignorar todo en venvia/Lib/site-packages
venvia/Lib/site-packages/**

   # Ignorar específicamente PyPDF2 y PyYAML
**/PyPDF2/**
**/PyYAML-*/**

   # Ignorar archivos .pyc y directorios __pycache__
*.pyc
__pycache__/

   # Otros archivos y directorios comunes para ignorar
*.log
*.tmp
.DS_Store
   